.intro-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.intro-container {
    position: relative;
    width: 360px;
    height: 840px;
}

.logo {
    width: 100%;
    position: absolute;
    top: 173px;
    display: flex;
    justify-content: center;
}

.logo img {
    margin-left: 65px;
}

.slogan {
    width: 305px;
    position: absolute;
    overflow: hidden;
    top: 400px;
    font-weight: 700;
    font-size: 19px;
    white-space: nowrap;
    border-right: 2px solid #000000;
    animation: typing 10s steps(30, end) infinite, blink-caret 0.5s step-end infinite;
}

/* 타이핑 효과 */
@keyframes typing {
    0% { max-width: 0; }
    60% { max-width: 0; }
    80% { max-width: 100%; }
    99% { max-width: 100%; }
    100% { max-width: 0; }
}

/* 깜박이는 커서 효과 */
@keyframes blink-caret {
    50% { border-color: transparent; }
}

.btn-container {
    position: absolute;
    width: 100%;
    top: 550px;
}

.btn-inverse {
    color: #ffffff;
    background-color: var(--main-color);
}

.btn-kakao {
    background: #FEEB30;
    color: #000000;
}

.btn-google {
    border: 2px solid #D2D2D2;
    color: #505050;
}

.btn-google img {
    margin-right: 15px;
}

.btn-naver {
    color: #ffffff;
    background: #03C75A;
}


